<h1><%= @page_header %></h1>

<% @memes.each do |meme| %>

	<h2><%= meme.title %></h2>
	<p><%= meme.description %></p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= meme.url %>" frameborder="0" allowfullscreen></iframe>
	<p><%= meme.genre %></p>

	
	<a href="/meme/<%= meme.id %>">View</a>
	<h2><%= meme.description %></h2>
	<a href="/meme/<%= meme.id %>/edit">Edit</a>


	<form action="/meme/<%= meme.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Delete">
	</form>

<% end %>